<%- include('../includes/head.ejs') %>
<link
      href="/css/auth/login.css"
      rel="stylesheet"
    />
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <form method="post" class="form-container">
            <% if (errorMessage) { %>
                <div class="invalid">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>
            <div class="input-field">
                <label for="password" class="input-field__label bold">Mot de passe actuel</label>
                <input type="password" name="password" id="password" class="input-field__input bordered" required>
                <a href="" class="forget-link light">Mot de passe oublié ?</a>
            </div>
            <div class="input-field">
                <label for="newPassword" class="input-field__label bold">Nouveau mot de passe</label>
                <input type="password" name="newPassword" id="newPassword" class="input-field__input bordered" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" class="btn btn-xl" value="Modifier">
        </form>
    </body>
<%- include('../includes/end.ejs') %>