<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs', {goBack: false}) %>
        <form method="post" class="container">
           <h1 class="title bebas-font">
               <% if(program.name !== "") { %>Modifier mon programme<% } else { %>Créer un programme<% } %>
           </h1> 
           <div class="input-field">
               <label for="programName" class="input-field__label">Nom du programme</label>
               <input type="text" name="programName" id="programName" class="input-field__input" value="<%= program.name %>">
           </div>
            <div class="input-field">
                <label for="programDuration" class="input-field__label">Durée du programme (en semaine)</label>
                <input type="number" name="programDuration" id="programDuration" class="input-field__input" value="<%= program.duration < 1 ? null : program.duration %>">
            </div>
            <div class="input-field">
                <label for="numberOfWorkout" class="input-field__label">Nombre d'entrainements par semaine</label>
                <input type="number" name="numberOfWorkout" id="numberOfWorkout" class="input-field__input" value="<%= program.trainingNumber < 1 ? null : program.trainingNumber %>">
            </div>
           
           <div class="workouts-list">
               <% trainings.forEach(training => {
                   <div class="card bordered" data-id="<%= training.id %>">
                       <h1 class="card__title bebas-font"><%= training.name %></h1>
                       <p class="card__details"><%= training.muscleTarget %></p>
                       <div class="card__buttons">
                            <a href="/training/<%= training.id %>" class="btn btn-fullwidth">Voir</a>
                            <a href="/newtraining/<%= program.id%>/<%= training.id %>" class="btn btn-fullwidth btn-outlined">Modifier</a>
                            <a href="/delete/training/<%= training.id %>" class="btn btn-fullwidth">Supprimer</a>
                       </div>
                   </div>
               }) %>
           </div>
           <div class="buttons">
                <input type="hidden" name="trainingIds" id="trainingIds">
                <input type="hidden" name="programId" id="programId" value="<%= program.id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <a href="/newtraining/<%= program.id %>" class="btn btn-60 btn-outlined">Ajouter un entrainement</a>
                <input type="submit" class="btn btn-40" value="Enregistrer">
           </div>
        </form>
    </body>
    <script src="/js/addWorkoutData.js"></script>
<%- include('../includes/end.ejs') %>