<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
<!-- <link href="/css/admin/modal.css" rel="stylesheet"/> -->
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <form class="container" method="post" >
           <h1 class="title bebas-font">
            <% if(training.name !== null) { %>Modifier ma séance<% } else { %>Créer une séance<% } %>
           </h1> 
           <div class="input-field">
               <label for="workoutName" class="input-field__label">Nom de la séance</label>
               <input type="text" name="workoutName" id="workoutName" class="input-field__input" value="<%= training.name %>">
           </div>
           <div class="input-field">
               <label for="muscleTarget" class="input-field__label">Groupe(s) musculaire ciblés</label>
               <div class="group-container">
                    <select name="group" id="group" class="dropdown-btn btn-outlined">
                        <option id="groupChoice" value="aucun">Aucun</option>
                        <option id="groupChoice" value="Pectoraux">Pectoraux</option>
                        <option id="groupChoice" value="Dos">Dos</option>
                        <option id="groupChoice" value="Biceps">Biceps</option>
                        <option id="groupChoice" value="Triceps">Triceps</option>
                        <option id="groupChoice" value="Quadriceps">Quadriceps</option>
                        <option id="groupChoice" value="Ischios">Ischios</option>
                        <option id="groupChoice" value="Épaules">Épaules</option>
                        <option id="groupChoice" value="Avant-bras">Avant-bras</option>
                        <option id="groupChoice" value="Abdos">Abdos</option>
                        <option id="groupChoice" value="Cou">Cou</option>
                    </select>
                    <% if (training.muscleTarget.length > 0) { %>
                        <% const musclesTargeted = training.muscleTarget.split(' ') %>
                        <% musclesTargeted.forEach(muscle => { %>
                            <div class="group-choice" data-group="<%= muscle %>"><%= muscle %><span class="cross">X</span></div>
                        <% }) %>
                    <% } %>
                </div>
               <input type="hidden" name="muscleTarget" id="muscleTarget" class="input-field__input" value="<%= training.muscleTarget %>">
           </div>
            <div class="exercises-list">
                <% exercises.forEach(exercise => { %>
                    <div class="card bordered<% if (exercise.type !== 'simple'){ %> m-0<% } %>" data-id="<%= exercise.id %>">
                        <h1 class="card__title bebas-font"><%= exercise.name %></h1>
                        <p class="card__details"><%= exercise.notes %></p>
                        <p class="card__details"><%= exercise.set %> séries x <%= exercise.reps %> reps</p>
                        <p class="card__details"><%= exercise.rest %> secondes de repos</p>
                        <div class="card__buttons">
                            <a href="/exercise/<%= exercise.id %>" class="btn btn-fullwidth">Voir</a>
                            <a href="/newexercise/<%= training.id %>/<%= exercise.id %>" class="btn btn-fullwidth btn-outlined">Modifier</a>
                            <a href="/delete/exercise/<%= exercise.id %>" class="btn btn-fullwidth">supprimer</a>
                        </div>
                    </div>
                    <% if (exercise.type !== 'simple'){ %>
                        <div class="circuit-detail">
                            <p>En <%= exercise.type %> avec</p>
                        </div>    
                    <% } %>
                <% }) %>
            </div>
           <div class="buttons">
               <input type="hidden" name="exercisesIds" id="trainingIds">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>">
               <input type="hidden" name="trainingId" id="trainingId" value="<%= training.id %>">
               <input type="submit" name="submitAction" data-modal="addExercise" class="btn btn-60 btn-outlined" value="Ajouter un exercice">
               <input type="submit" name="submitAction" class="btn btn-40" value="<% if (path.split('/').includes("newexpresstraining")) { %>Commencer<% } else { %>Enregistrer<% } %>">
           </div>
           <!-- <div class="modal" data-modal="addExercise">
               <div class="modal-bg" data-close="addExercise"></div>
               <div class="modal-content">
                   <div class="modal-header">
                       <h1 class="modal-title bebas-font">Ajouter un exercice</h1>
                       <span class="modal-cross" data-close="addExercise">X</span>
                   </div>
                   <input type="submit" name="submitAction" class="type-item shadow-effect" value="Simple">
                   <input type="submit" name="submitAction" class="type-item shadow-effect" value="Superset">
                   <input type="submit" name="submitAction" class="type-item shadow-effect" value="Triset">
                   <input type="submit" name="submitAction" class="type-item shadow-effect" value="Circuit">
                   <a href="/newcircuit/<%= training.id %>" class="type-item shadow-effect">Cardio</a>
                   <a href="/newcircuit/<%= training.id %>" class="type-item shadow-effect">Échauffement</a>
               </div>
           </div> -->
        </form>
    </body>
    <script src="/js/addWorkoutData.js"></script>
    <script src="/js/dropdownTags.js"></script>
    <!-- <script src="/js/modal.js"></script> -->
<%- include('../includes/end.ejs') %>