<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs', {goBack: false}) %>
        <div class="container">
            <h1 class="title bebas-font">
                Mes programmes
            </h1> 
            <% programs.forEach(program => { %>
                <div class="card bordered">
                    <h1 class="card__title bebas-font"><% if (program.name !== "") {%><%= program.name %><% } else { %>Sans nom<%}%></h1>
                    <p class="card__details"><%= program.trainingNumber %> entrainements par semaine</p>
                    <p class="card__details"><%= program.duration %> semaines</p>
                    <div class="card__buttons">
                        <a href="/program/<%= program.id %>" class="btn btn-fullwidth">Commencer</a>
                        <a href="/newprogram/<%= program.id %>" class="btn btn-fullwidth btn-outlined">Modifier</a>
                        <a href="/delete/program/<%= program.id %>" class="btn btn-fullwidth">Supprimer</a>
                    </div>
                </div> 
            <% }) %>
            <a href="/newprogram" class="btn btn-fullwidth mt-1">Créer un nouveau programme</a>
        </div>
    </body>
<%- include('../includes/end.ejs') %>