<%- include('../includes/head.ejs') %>
<link href="/css/admin/startExercise.css" rel="stylesheet"/>
<link href="/css/admin/modal.css" rel="stylesheet"/>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <a href="/exercisestat/<%= exercise.id %>" class="stat-btn">
            <svg class="menu__item--icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 10H4V20H1V10ZM6 0H9V20H6V0ZM11 8H14V20H11V8ZM16 4H19V20H16V4Z" fill="white"/>
            </svg>
        </a>
        <div>
            <% if (exercise.type === 'simple') { %>
                <%- include('../includes/startForms/startformsimple.ejs', {exercise: exercise}) %>
            <% } else { %>
                <%- include('../includes/startForms/startformcircuit.ejs', {exercise: exercise}) %>
            <% } %>
        </div>
    </body>
    <script src="/js/start.js"></script>
    <script src="/js/addExercisePerf.js"></script>
    <script src="/js/modal.js"></script>
<%- include('../includes/end.ejs') %>