<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <form method="post" class="container">
            <h1 class="title bebas-font">
                <%= training.name %>
            </h1>
            <!-- 
                <div class="card card-free-heigth bordered green-border">
                    <h1 class="card__title bebas-font"></h1>
                    
                    <p class="card__details">Série 1 : 10 reps à 100kg</p>
                    <p class="card__details">Série 2 : 10 reps à 100kg</p>
                    <p class="card__details">Série 3 : 10 reps à 100kg</p>
                    <p class="card__details">Série 4 : 10 reps à 100kg</p>
                    <p class="card__details">Série 5 : 10 reps à 100kg</p>
                </div> -->
            <% exercises.forEach(exercise => { %>
            <a href="/startexercise/<%= exercise.id %>" class="card card-free-heigth bordered<% if(exercise.finished){ %> green-border<% } %>">
                <h1 class="card__title bebas-font"><%= exercise.name %></h1>
                <p class="card__details"><%= exercise.notes %></p>
                <p class="card__details"><%= exercise.set %> séries x <%= exercise.reps %> reps</p>
                <p class="card__details"><%= exercise.rest %> secondes</p>
            </a>
            <% }) %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <a href="/newexercise/<%= training.id %>" class="btn btn-outlined btn-fullwidth mt-1">Ajouter un exercice</a>
            <input type="submit" class="btn btn-fullwidth mt-1" value="Terminer la séance">
        </form>
    </body>
<%- include('../includes/end.ejs') %>