<%- include('../includes/head.ejs') %>
<link href="/css/admin/dashboard.css" rel="stylesheet"/>
<link href="/css/admin/trainings.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <div class="trainings-container">
            <h1 class="title bebas-font">
                Mes entrainements
            </h1> 
            <% trainings.forEach(training => { %>
                <div class="flag-link shadow-effect">
                    <h1 class="flag-link__title bebas-font"><%= training.programName %></h1>
                    <p class="flag-link__subtitle bebas-font"><%= training.name %></p>
                    <p class="flag-link__details"><%= training.muscleTarget %></p>
                    <% if(training.finished){ %>
                        <span class="status green-font bebas-font">Terminé</span>
                    <% } %>
                    <div class="flag-link__buttons">
                        <a href="/start/<%= training.id %>" class="btn btn-midwidth">Commencer</a>
                        <a href="/training/<%= training.id %>" class="btn btn-midwidth btn-outlined">Voir</a>
                        <a href="/delete/training/<%= training.id %>" class="btn btn-midwidth">Supprimer</a>
                    </div>
                </div>
            <% }) %>
            <div class="trainings-button">
                <a href="/newexpressworkout" class="btn btn-fullwidth">Créer un nouvel entrainement</a>
            </div>
        </div>
    </body>
<%- include('../includes/end.ejs') %>