<%- include('../includes/head.ejs') %>
<link href="/css/admin/form.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../includes/banner.ejs') %>
        <div class="container">
            <h1 class="title bebas-font">
                <%= pageTitle %>
            </h1>
            <% exercises.forEach(exercise => { %>
                <% console.log(exercise) %>
                <% if (exercise.type === 'simple') { %>
                    <div class="card bordered">
                        <h1 class="card__title bebas-font"><%= exercise.exercisesList.name %></h1>
                        <p class="card__details"><%= exercise.exercisesList.notes %></p>
                        <p class="card__details"><%= exercise.exercisesList.set %> séries x <%= exercise.exercisesList.reps %> reps</p>
                        <p class="card__details"><%= exercise.exercisesList.rest %> secondes</p>
                        <div class="card__buttons">
                            <a href="/exercise/<%= exercise.id %>" class="btn btn-fullwidth">Voir</a>
                        </div>
                    </div>
                <% } else { %>
                    <% exercise.exercisesList.forEach(circuitExercise => { %>
                        <div class="card bordered m-0">
                            <h1 class="card__title bebas-font"><%= circuitExercise.name %></h1>
                            <p class="card__details"><%= circuitExercise.notes %></p>
                            <p class="card__details"><%= circuitExercise.set %> séries x <%= circuitExercise.reps %> reps</p>
                            <p class="card__details"><%= circuitExercise.rest %> secondes</p>
                            <div class="card__buttons">
                                <a href="/exercise/<%= circuitExercise.id %>" class="btn btn-fullwidth">Voir</a>
                            </div>
                        </div>
                        <% if (circuitExercise !== exercise.exercisesList.slice(-1)[0]) { %>
                            <div class="circuit-detail">
                                <p>En <%= exercise.type %> avec</p>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>
            <% }) %>
        </div>
    </body>
<%- include('../includes/end.ejs') %>